  {% extends "plantilla.html" %} 

{% block title %} Postulacion {% endblock %}

  {% block content %} 
  <div class="col s6 offset-s3 center-align">
      <h3> lista de paquetes</h3>
  </div>
  <div class="row">
    <div class="col s10 offset-1" >
  	  <table class="bordered highlight" >
          <thead> 
            	<tr>
                <th data-field="name">fecha de publicacion</th> 
                <th data-field="name">Nombre</th>
                <th data-field="name">status</th>
            	</tr>
          </thead>
          <tbody>
      	{% for historial in object_list %}
            <tr>
                <td>{{ historial.fecha_actualizada }}</a></td>
                <td>{{ historial.name_package }}</a></td>
                <td>{{ historial.status }}</a></td>
            </tr>
        {% endfor %} 
          </tbody>
      </table> 
    </div>	
  </div>
  {% endblock %}