/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

nav {
  background-color: #622f96; 

}
nav ul a:hover {
    font-weight: bold;
    color: #622f96;
    background-color: #d1c4e9;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  background-color: #622f96;
  font-weight: bold;
}


table {
margin-left: 170px;
width: 90%;
}

.browser-default {
  border: 0;

}
.teal {
  background-color: #b39ddb ; 
}

#index-banner {
    min-height: 480px;
    position: relative;
    background-color: white;
}

div.center-align img{

width: 200px; 

}

nav i {
 font-size: 10px;


}