/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*-------------------------------  BARRA DE NAVEGACION  -----------------------------------*/
nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

nav {
  background-color: #622f96; 

}
nav ul a:hover {
    font-weight: bold;
    color: #622f96;
    background-color: #d1c4e9;
}

.dropdown-content li > a {
color: #5a5a5a;
}
sflfblwfhb
nav i {
 font-size: 10px;
}

nav .brand-logo {
  left: 10px;
  font-size: 50px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
/*-------------------------------  INICIO  -----------------------------------*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#index-banner {
    min-height: 480px;
    position: relative;
    background-color: white;
}

div.center-align img{
width: 200px; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
/*-------------------------------  FOOTER -----------------------------------*/
footer.page-footer {
  background-color: #622f96;
  font-weight: bold;
}

/*-------------------------------  TABLAS  -----------------------------------*/
table.centrar {
margin-left: 170px;
width: 90%;
}

table.highlight.detallar th {
 text-align: right;

}
.browser-default {
  border: 0;

}
.teal {
  background-color: #b39ddb ; 
}


@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto; 
}


/*-------------------------------  CAMPOS IMPUT -----------------------------------*/
div.input-field.centrar {
  margin-top: 0px;

} 
.input-field label.etiqueta {
  left: 0px;
}

.input-field label.etiqueta.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

/*------------------------------ CHECKBOXS --------------------------------------------*/

.casilla {
  margin-top: 10px;
  display: inline;
  margin-right: 20px; 
}

.check-box{
  margin-right: 20px; 
}

.borde-negro {
  border-bottom: 2px solid black;
}


